
html{

	height:100%;
	background-color: lightblue; 

}

* {

	font-family: 'Pacifico', sans-serif;
	margin: 0;
	padding: 0;

}


h1{

	color:darkslategray;
	font-size:45px;
	text-align: center;
	
}

h2{
	
	font-size: 30px;
	text-align:center;
	padding:10px;
	margin:10px;

}

p{

	text-align: center;

}

ul,
li{

	padding:10px;
	margin:10px;
	text-align: center;
	list-style-type: none;
	border:3px;
	border-radius: 3px;
	font-size: 17px;

}




	