/* Layout */
/* ---------------------------------- */

html{
	
	height: 100%;

}

*{

	margin: 0;
	padding: 0;

}

p{
	font-size: 20px;
	font-family:"Montserrat";
}

body {
	background-color: lemonchiffon;
	text-align: center;
	padding:7px;

}


h1 {

	font-size: 80px;
	font-style: normal;
	padding-bottom: 20px;
	font-family:"Cookie";
	color: cornflowerblue;
	text-content:center;


}


div {
	
	display: flex;
	justify-content:center;
	padding: 2px;

}



img{

	width: 450px;
	height: 480px;
	padding-top: 25px;
	padding-bottom: 0px;

}

input {
	
	width: 100px;
	height: 50px;
	border: 2px solid black;
	background: white;
	color: black;
	border-radius: 7px;
	text-align: center;
	font-size: 25px;
	padding: 5px;
	margin-bottom: 20px;

}

button {

	width: 90px;
	height: 45px;
	border: 4px solid black;
	background: white;
	color: black;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	font-family:"Montserrat";
	margin: 15px;
	padding-top: 0px;

}


.convert
button:hover {
	
	box-shadow: 0 0 5px 3px rgba(0, 0, 60, 0.5);
	
}

li.convert{

	display: flex;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: center;

}

li.reset{
	
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: center;
}

.reset
button:hover {
	
	box-shadow: 0 0 5px 3px rgba(0, 0, 60, 0.5);

}


