/* Layout */
/* ---------------------------------- */
* {
	margin:0;
	padding:0;
}

h1 {
	margin-top:150px;
	color: salmon;
	font-size: 20px;
	font-family: 'pacifico';
	text-align: center;
}

p {
	text-align: center;
	font-size: 50px;
	font-family: 'pacifico';
}

p:hover {
	color:bisque;
}

img:hover {

	box-shadow: 0 0 7px 2px rgba(0, 10, 50, 0.5);

}

img {
	display:flex;
	margin-left: 350px;
	margin-right: 140px;
	margin-top: 30px;
}

