/* Layout */
/* ---------------------------------- */
* {
	margin:0;
	padding:0;
}

div {
  width: 1200px;
  height: 1000px;
  display: block;
  position: relative;
  text-align: center;
}

div::after {
  content: "";
  background: url('https://41.media.tumblr.com/1058f1b289c9f3d0c8d6c6a94f4d7e2b/tumblr_nydujgFnpT1ub8rh1o1_500.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1 {
	font-family: 'pacifico';
	font-size: 75px;
	text-align: center;
	padding: 10px;
}

h1:hover { 
    color: floralwhite;
}

h3,
ul,
li {
	font-family: 'Quattrocento';
}

h3 {
	text-decoration: underline;
	padding: 20px;
	font-size: 25px;
}

h3:hover { 
    color: floralwhite;
}

li {

	font-size:15px;

}





