/* Layout */
/* ---------------------------------- */

html {
	
	height: 100%;

}

* {
	
	font-family: Arial Rounded MT Bold;

}

body {
	
	background-color: whitesmoke;

}

h1{
	
	font-size: 22px;
	padding:10px;
	margin-bottom:10px;
	background: #66CC66;
	text-align: center;
	word-spacing:.35em;

}

div {
	
	background: lightgrey;
	position: relative;
	margin-left: 20%;
	margin-right: 18%;

}

input, 
button {

	padding: 8.5px 10px;
	display: inline-block;
	line-height: 27px;
	margin:7px;

}


button {
	
	background: cornflowerblue;
	font-size:14px;
	width:100px;
	margin-right: -70px;
	border:1px solid darkgrey;
	border-radius: 3.5px;

}

button:hover{

	box-shadow: 0 0 3px 1px rgba(20, 20, 80, 10);

}

ul,
li {
	
	width: 150px;
	height: 30px;
	font-size:14px;
	padding-top:5px;

}

.task {

	background: white;
	width: 200px;
	margin-left: -100px;
	margin-right: 10px;
	border:1px;
	border-radius:3px;
	font-size:14px;

}

.date {
	
	border:2px;
	border-radius:3px;
	font-size:14px;

}


.box {

	width: 20px;
   	height: 20px;
   	border: 1px solid grey;
   	border-radius: 4px;
   	font-size: 15px;
   	margin: 10px;

}

.activities {

	border: 2px solid darkgrey;
	padding:25px;
	text-align:center;
	border-radius: 4px;

}


.box-1 { 

	margin-left:-20px;
	margin-top:2px;
	margin-bottom: -7px;
	text-decoration:line-through;
}






